
/* sticky footer styles
------------------------
 */

html,
body {
    height: 100%;
    /* the html and body elements cannot have any padding or margin. */
}

/* wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* negative indent footer by its height */
    margin: 0 auto ($footer-height * -1);
    /* pad bottom by footer height */
    padding: $navbar-height 0 $footer-height;
}

/* set the fixed height of the footer here */
#footerWrapper {
    height: $footer-height;
    /* margin-top: 22px; */
	color: $body-bg;
    background-color: $gray-darker;
}

#footerRights {
    background-color: $gray-dark;
    border-top: $padding-xs-vertical solid #1b1b1b;
    padding: $padding-small-vertical 0 $padding-small-vertical;
    margin-top: $line-height-computed;
}
