
/* sticky footer styles
------------------------
 */

html,
body {
    height: 100%;
    /* the html and body elements cannot have any padding or margin. */
}

/* wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* negative indent footer by its height */
    margin: 0 auto ($footer-height * -1);
    /* pad bottom by footer height */
    padding: $navbar-height 0 $footer-height;
}

/* set the fixed height of the footer here */
#footerWrapper {
    height: $footer-height;
    /* margin-top: 22px; */
	color: $body-bg;
    background-color: $gray-darker;
}

#footerRights {
    background-color: $gray-dark;
    border-top: $padding-xs-vertical solid #1b1b1b;
    padding: $padding-small-vertical 0 $padding-small-vertical;
    margin-top: $line-height-computed;
}

/* splash page parallax 
------------------------
*/

/* home section */
#intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

#intro .intro-body H1 {
    font-size: 76px;
    color: rgba(255, 255, 255, 0.8);
}

#intro .intro-body .brand-heading {
    color: #E75926;
    text-shadow: 2px 2px #a13e1a;
}

#intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
#intro {
    height:100%;
    padding: 0;
}
#intro .intro-body .intro-text {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.9);
}
}
#intro #intro-btn {
    color: #f6f6f6;
    background: #cf5022;
    border: 0;
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}

#intro-btn:hover, #intro-btn:focus, #intro-btn.focus, #intro-btn:active, #intro-btn.active {
    color: #f6f6f6;
    background-color: #a13e1a;
}
