
/* sticky footer styles
------------------------
 */

html,
body {
    height: 100%;
    /* the html and body elements cannot have any padding or margin. */
}

/* wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* negative indent footer by its height */
    margin: 0 auto ($footer-height * -1);
    /* pad bottom by footer height */
    padding: $navbar-height 0 $footer-height;
}

/* set the fixed height of the footer here */
#footerWrapper {
    height: $footer-height;
    /* margin-top: 22px; */
	color: $gray-lighter;
    background-color: $gray-darker;
}

#footerRights {
    background-color: $gray-dark;
    border-top: $padding-xs-vertical solid #1b1b1b;
    padding: $padding-small-vertical 0 $padding-small-vertical;
    margin-top: $line-height-computed;
}

/* splash page parallax 
------------------------
*/

/* home section */
#intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

#intro .intro-body H1 {
    font-size: 76px;
    color: rgba(255, 255, 255, 0.8);
}

#intro .intro-body #splash-ticker {
    height: 80px;
}

#intro .intro-body .brand-heading {
    color: $brand-primary;
    font-family: 'Roboto', sans-serif;
    /*color: #E75926;
    text-shadow: 2px 2px #a13e1a; */
}

#intro .intro-body .intro-text {
    font-size: 18px;
}
#intro .intro-body hr {
    border-width: 1px 0px;
    border-style: dotted none;
    border-color: rgba(255, 255, 255, 0.35);
    border-image: none;
    width: 49px;
    height: 4px;

}

@media(min-width:768px) {
#intro {
    height:100%;
    padding: 0;
}
#intro .intro-body .intro-text {
    font-size: 18px;
    letter-spacing: 1px;
    //margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.9);
}
}
#intro #intro-btn {
    color: #f6f6f6;
    //background: #cf5022;
    background: rgba(0,0,0,0); // transparent
    border: 0;
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}

#intro-btn:hover, #intro-btn:focus, #intro-btn.focus, #intro-btn:active, #intro-btn.active {
    color: #f6f6f6;
    background-color: #a13e1a;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
    z-index: 99999;
    height: 100%;
}
#status {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    padding: 0;
}

/* message bar */
.message_bar {
    vertical-align: middle;
    padding: 10px;
    margin: 5px;
}

.message_bar #message_title {
    color: #fff;
    font-size: 50px;
    text-transform: none;
}
.message_bar #message_title #underline {
    border-bottom: 1px solid #fff;
}

.message_bar #message_body {
    color: $gray-light;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Roboto";
    padding-left: 15px;
}

.message_bar #message_body b {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: $gray-lighter;
}

#about_wrapper {
    background-color: $gray-darker;
}

#about {
    font-size: $font-size-large;
    font-weight: lighter;
}

#about .row {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
}

#about .section_title {
    color: #fff;
    padding-bottom: $padding-large-vertical; 
    margin-bottom: $padding-large-vertical; 
}

#about .section_title .underline {
    padding-bottom: 5px;
    border-bottom: 0.5px solid $gray;
}

#about .section_subtitle {
    text-transform: uppercase;
    font-weight: bold;
}

#about .section_subtitle .underline {
    border-bottom: 1px solid $gray;
}

#about .section_subtitle_special {
    font-size: $font-size-h3;
    font-family: "Roboto";
}

#about .section_subtitle_special #fun_section{
    background: $body-bg;
}

#about .section_subtitle_special .underline {
    border-bottom: 1px solid $gray;
}

#about strong {
    font-family: "Roboto";
}

#about #skills {
    padding: 10px;
    margin: 5px;
}

#about #slider {
    padding: 15px;
    margin: 15px;
}