<footer id="footerWrapper">
	<section id="mainFooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="footerWidget">
					</div>
				</div>
                <div class="col-sm-6 text-center">
					<div class="footerWidget">
						<h3>Nitheesh K L</h3>
						<address>
							<p> <i class="fa fa-map-marker"></i>&nbsp;1656 Hope Dr, Apt 1434<br>Santa Clara, CA 95054 USA <br>
								<i class="fa fa-mobile fa-lg"></i>&nbsp; &nbsp;530-312-1271 <br>
								<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:nitheeshkl@gmail.com">nitheeshkl@gmail.com</a>
                            </p>
						</address>
                        <a href="https://www.facebook.com/nitheeshkl" class="tips" title="follow me on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                        &nbsp;
                        <a href="https://www.github.com/nitheeshkl" class="tips" title="follow me on Github"><i class="fa fa-github-square fa-2x"></i></a>
                        &nbsp;
                        <a href="https://www.linkedin.com/in/nitheeshkl" class="tips" title="follow me on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        &nbsp;
                        <a href="https://www.flickr.com/people/nitheeshkl/" class="tips" title="follow me on Flickr"><i class="fa fa-flickr fa-2x"></i></a>
                        &nbsp;
                        <a href="https://www.youtube.com/user/nitheeshkl" class="tips" title="follow me on YouTube"><i class="fa fa-youtube-square fa-2x"></i></a>
                        &nbsp;
                        <a href="https://www.instagram.com/klnitheesh" class="tips" title="follow me on Instagram"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerWidget">
                    </div>
                </div>
			</div>
	</section>
		<section id="footerRights">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center text-muted vcenter">Copyright © 2016 <a href="http://nitheeshkl.in" target="blank">kln</a> / All rights reserved.</p>
					</div>

				</div>
			</div>
		</section>
</footer>
