---
layout: default
---
<div id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h1>Hi, I'am <span class="brand-heading">Nitheesh</span></h1>
        <p class="intro-text">engineer, creator, artist & then some!</p>
        <a href="#about" id="intro-btn" class="btn btn-primary btn-lg page-scroll">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="wrap"> -->
    <div class="container">
        <article>
            {{ content }}
        </article>
    </div>
<!-- </div> -->
