---
layout: default
---
<div id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
		  <h1>
            <div id="splash-ticker">
                <ul>
                    <li><span class="brand-heading">Engineer</span></li>
                    <li><span class="brand-heading">Creator</span></li>
                    <li><span class="brand-heading">Artist</span></li>
                    <li><span class="brand-heading">Sportsman</span></li>
                    <li><span class="brand-heading">Traveller</span></li>
                </ul>
            </div>
		  </h1>
        <!-- <p class="intro-text">engineer, creator, artist & then some!</p> -->
		<hr/>
        <a href="#about" id="intro-btn" class="btn btn-primary btn-lg page-scroll">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="wrap"> -->
    <div class="container">
        <article>
            {{ content }}
        </article>
    </div>
<!-- </div> -->
